<%- include("partials/header") -%>
           <title>Administrator</title>
         </head>
       <body>

         <section id="user_DashBoard">
           <div class="row r_1">
               <div class="col-lg-3 c_1">
                   <div class="cross_bar"><i class="fas fa-times" id="cross"></i></div>
                  <div class="dp"> <img src="images/logo.png"></div>
                  <hr class="line"><br>
                  <h1> OBD solutions </h1><br>
                  <hr class="line"><br />
                    <div class="location-message"> </div><br />
                  <form class="admin-style" action="/admin_signout" method="post">
                     <button class=" btn btn-outline-light" type="submit" name="button">Logout!</button>
                  </form>
                  <br />
                  <br />
                  <br />
               </div>
               <div class="col-lg-9 c_2">
                   <div class="menu_bar"><i class="fas fa-bars" id="hamburger"></i></div>
                       <div class="row c_2_r container-fluid" id="c_2_r_1">

                           <div class="upper_cards col-lg-4">
                               <div class="card">
                                   <div class="card-header">
                                       <img class="my_image" src="images/user.jpg">
                                   </div>
                                   <div class="card-body">
                                       <a  class="my_link_upper" href="/companies"><h1>User Management</h1></a>
                                   </div>

                               </div>
                           </div>
                            <div class="upper_cards col-lg-6 ml-5">
                                <div class="card detail_card ml-5" style="background-color: #fff; box-shadow: none; border: 4px double black; padding: 0% 4%;">
                                    <div class="card-body" style="text-align: left;">
                                        <h3 class="text-danger" style="font-size: 2.6rem;"><img src="images/company.gif " style="width: 30%; border-radius: 50%; height: 135px; border: 0.1px solid #f0ecec;" > Companies: <%=companies %></h3><br><hr style="margin-left: 0; width: 90%; border-top: 5px solid black;"><br>
                                        <h3 class="text-danger " style="font-size: 2.6rem;"><img src="images/driver.gif " style="width: 30%; border-radius: 50%; height: 135px;" > Drivers: <%=drivers %></h3><br><hr style="margin-left: 0; width: 90%; border-top: 5px solid black;"><br>
                                        <h3 class="text-danger" style="font-size: 2.6rem;"><img src="images/vehicle.gif " style="width: 30%; border-radius: 50%; height: 135px;" > Vehicles: <%=vehicles %></h3>
                                    </div>
                                </div>
                            </div>

                       </div>
                    </div>
              </div>
       </section>

<%- include("partials/footer") -%>