<%- include("partials/header") -%>
           <title>Companies</title>
         </head>
       <body>

        <%- include("partials/navbar_admin") -%>
        
        <h1 class="text-danger mt-5"><center>COMPANIES</center></h1><hr class="bg-danger" style="width: 8%;">
         <section id="user_DashBoard">
           <div class="row r_1">
               <div class="col-lg-12 c_2">
                   <div class="menu_bar"><i class="fas fa-bars" id="hamburger"></i></div>
                       <div class="row c_2_r container-fluid" id="c_2_r_1">
                        <% Companies.forEach((cmpnies) => { %>
                        <% cmpnies.forEach((cmp) => { %>
                            <div class="upper_cards col-lg-3">
                                <div class="card">
                                    <div class="card-header">
                                        <img class="driver_pic"  src="/company_driver_dp/<%= cmp.company_dp %> " style="width: 60%; height: 170px; border: 5px solid #d33939; border-radius: 50%;" >
                                    </div>
                                    <div class="card-body" style="text-align: left; margin-left: 6.5%;">
                                        <p> <b>Name: </b> <%= cmp.companyName %> </p>
                                        <p> <b>Email: </b> <%= cmp.companyEmail %> </p> 
                                        <p> <b>Address: </b> <%= cmp.companyAddress %> </p>    
                                        <p> <b>Contact details: </b> <%= cmp.contactDetail %>  </p>    
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-lg btn-outline-danger" style="margin: 0;" href="/details/<%= cmp._id %>" >Details</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                        <% }) %>
                       </div>
                    </div>
              </div>
       </section>

<%- include("partials/footer") -%>