<%- include("partials/header") -%>
           <title>Driver Location</title>
         </head>
       <body>

         <div class="add_driver">
             <h2>Live Location</h2>

             <br />
             <br />

             <h3>Country  </h3><h4> <%=  driverPlaceData.Country    %> </h4>
             <h3>State   </h3><h4> <%=  driverPlaceData.State      %> </h4>
             <h3>District</h3><h4> <%=  driverPlaceData.District    %> </h4>
             <h3>Place   </h3><h4> <%= driverPlaceData.Place        %> </h4>

         </div>

<%- include("partials/footer") -%>
