<%- include("partials/header") -%>
<title>my Drivers</title>
</head>
<body>


<div class="add_driver">
    <h2><em>Add new Driver</em></h2>
    <form method="POST" action="/my_drivers">
        <div class="form-row">
            <div class="col-md-2 mt-4">
              <input type="text" class="form-control" name="firstName" placeholder="Name">
            </div>
            <div class="col-md-2 mt-4">
              <input type="tel" class="form-control" name="phoneNo" placeholder="Phone No.">
            </div>
            <div class="col-md-2 mt-4">
                <input type="number" class="form-control"  name="licenceNo" placeholder="Licence No.">
            </div>
            <div class="col-md-2 mt-4">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="col-md-2 mt-4">
                <textarea class="form-control" name="address" placeholder="Address"></textarea>
            </div>
            <div class="col-md-2 mt-4">
                <button type="submit">Add driver</button>
            </div>
        </div>
    </form>
</div>

<div class="driver_table">
      <table class="table">
        <thead class=" bg-danger text-white">
          <tr>
            <th scope="col">S No.</th>
            <th scope="col"> Image</th>
            <th scope="col">Created on</th>
            <th scope="col">Name</th>
            <th scope="col">Phone No.</th>
            <th scope="col"> Licence No.</th>
            <th scope="col">Email </th>
            <th scope="col">Address</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
      <%    var i = 1;                             %>
      <%    driverArray.forEach( (driver) => {     %>

      <%       if(i%2 !== 0){                      %>
                 <tr>
      <%       } else {                            %>
                <tr class="table-danger">
      <%       }                                  %>

              <th class="index" scope="row"><%= i %></th>
              <td><img class="driver_pic" src="images/dp.jpeg"></td>
              <td> <%=   driver.createdOn   %> </td>
              <td> <%=   driver.firstName   %> </td>
              <td> <%=   driver.contactNumber     %></td>
              <td> <%=   driver.licenceNo   %></td>
              <td> <%=   driver.email       %></td>
              <td> <%=   driver.address     %></td>
              <td >
                <a class="my_link" href="/delete_driver/<%= driver.email %>" >
                 <i class="fa fa-trash-alt text-danger"></i>
                </a>
              </td>
          </tr>

      <%    i++;                                   %>
      <%    });                                    %>

        </tbody>
      </table>
</div>








<%- include("partials/footer") -%>
