<%- include("partials/header") -%>
<title>my Drivers</title>
</head>
<body>

  <%- include("partials/navbar") -%>

<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-dark my-5 btn-lg" data-toggle="modal" data-target="#myModal">Add new driver</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="modal-header">
          <h2 class="ml-3 text-danger"><em>Add new Driver</em></h2>
          <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="add_driver">
            <form method="POST" action="/my_drivers" enctype="multipart/form-data">
                    <div class="form-group">
                      <input type="text" class="form-control" name="firstName" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <input type="tel" class="form-control" name="phoneNo" placeholder="Phone No.">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control"  name="licenceNo" placeholder="Licence No.">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="address" placeholder="Address"></textarea>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-6">
                        <input type="file" name="driver_dp">
                      </div>
                      <div class="form-group col-6">
                          <button type="submit">Add driver</button>
                      </div>
                    </div>
            </form>
        </div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<div class="driver_table">
      <table class="table">
        <thead class=" bg-danger text-white">
          <tr>
            <th scope="col">S No.</th>
            <th scope="col"> Image</th>
            <th scope="col">Created on</th>
            <th scope="col">Name</th>
            <th scope="col">Phone No.</th>
            <th scope="col"> Licence No.</th>
            <th scope="col">Email </th>
            <th scope="col">Address</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
      <%    var i = 1;                             %>
      <%    driverArray.forEach( (driver) => {     %>

      <%       if(i%2 !== 0){                      %>
                 <tr>
      <%       } else {                            %>
                <tr class="table-danger">
      <%       }                                  %>

              <th class="index" scope="row"><%= i %></th>
              <td><img class="driver_pic" src="/driver_dp/<%= driver.driver_dp %> " ></td>
              <td> <%=   driver.createdOn   %> </td>
              <td> <%=   driver.firstName   %> </td>
              <td> <%=   driver.contactNumber     %></td>
              <td> <%=   driver.licenceNo   %></td>
              <td> <%=   driver.email       %></td>
              <td> <%=   driver.address     %></td>
              <td >
                <a class="my_link" href="/delete_driver/<%= driver.email %>" >
                 <i class="fa fa-trash-alt text-danger"></i>
                </a>
              </td>
          </tr>

      <%    i++;                                   %>
      <%    });                                    %>

        </tbody>
      </table>
</div>








<%- include("partials/footer") -%>
